/* themes */
.light_theme {
	--mainColor: #eaeaea;
	--secondaryColor: #fff;
	--borderColor: #c1c1c1;
	--mainText: black;
	--secondaryText: #4b5156;
	--themeDotBorder: #24292e;
	--previewShadow: #f0ead6;
}
.blue_theme {
	--mainColor: #15202b;
	--secondaryColor: #192734;
	--mainText: #fff;
	--secondaryText: #eeeeee;
	--previewShadow: #111921;
	--themeDotBorder: #fff;
	--borderColor: #164d56;
}
.purple_theme {
	--mainColor: #46344e;
	--secondaryColor: #382a3f;
	--mainText: #fff;
	--secondaryText: #eeeeee;
	--themeDotBorder: #fff;
	--previewShadow: #2b202f;
	--borderColor: #161914;
}
.green_theme {
	--mainColor: #606b56;
	--secondaryColor: #515a48;
	--mainText: #fff;
	--secondaryText: #eeeeee;
	--themeDotBorder: #fff;
	--previewShadow: #2a2f25;
	--borderColor: #1d1520;
}
