@font-face {
	font-family: "Roboto Mono", monospace;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/RobotoMono-Medium.ttf");
}
@font-face {
	font-family: "Russo One", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/RussoOne-Regular.ttf");
}
@import "themes";
@import "main";
#app-update {
	position: fixed;
	bottom: 30px;
	left: 10px;
	padding: 5px 10px;
	border: none;
	border-radius: 0.5rem;
	background-color: inherit;
	display: none;
}
.show {
	display: block;
}
